<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zioku</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
    <h3 id="floater">
     <span id="zioku">Zioku</span>
     <span>Events calendar</span>
     <span>VIP services</span>
     <span>Tickets</span>
     <span>Private Events</span>
     <span>More</span>
     <span><button>Books</button></span>
    </h3>

    <img src="http://127.0.0.1:5000/static/fallenangel.JPEG">
    
    <h2>
        <span>Upcoming events</span>
        <span>See all events</span>
    </h2>

</body>
</html>